ASCALONGW_PREFIX=-
ASCALONGW_OWNERS=
DISCORD_TOKEN=

# Used to register slash commands only on the dev server - don't set to test user installed apps
ASCALONGW_DEVSERVER=
# Enable this if startup is too slow for you and/or you don't need to sync emojis
# SKIP_EMOJI_SYNC=true
